* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  color: white;
  background-color: rgb(2, 2, 31);
  margin: 0 30px;
  flex-wrap: wrap;
}

.top-nav a {
  text-decoration: none;
  color: whitesmoke;
}

.upper {
  color: green;
}

.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(45, 39, 122);
  z-index: 100;
  box-shadow: 0 2px 4px rgb(36, 141, 36);
  padding: 10px 20px;
  margin: 1px !important;
}

.top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin: 20px 0;
  transition: 0.3s;
}

.top-nav form {
  background-color: transparent;
  width: 200px;
  padding: 10px;
  border-radius: 10px;
}

.top-nav form input {
  border-radius: 10px;
  background-color: rgb(12, 12, 66);
  color: whitesmoke;
  padding: 10px;
  border: none;
  outline: none;
}

.top-nav form input::placeholder {
  color: rgb(219, 212, 212);
  font-size: 15px;
}

.nav-link {
  position: fixed;
  top: 85%;
  right: 15%;
  text-align: center;
  font-size: 28px;
  cursor: pointer;
  background: linear-gradient(blue, red);
  /* padding: 5px 10px; */
  width: 2rem;
  height: 2rem;
  border-radius: 10px;
  animation: bounce 2s ease-in-out infinite;
  visibility: hidden;
  z-index: -100;
}

.show-link {
  visibility: visible;
  z-index: 100;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.nav-link a {
  text-decoration: none;
  font-weight: bolder;
  color: white;
}

.type-of-movie {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin: 10px 0 30px;
  background-color: rgb(12, 12, 66);
  /* background-color: transparent; */
  padding: 15px;
  border-radius: 5px;
}

.type-of-movie input {
  cursor: pointer;
  background-color: rgb(61, 61, 165);
  color: whitesmoke;
  width: 150px;
  padding: 10px 20px;
  border-radius: 10px;
  outline: none;
  border: none;
  font-size: 15px;
  transition: 0.4s;
}

.type-of-movie input:focus {
  background-color: rgb(21, 21, 100);
  border-bottom: 2px solid white;
}

.type-of-movie input:hover {
  outline: 1px solid whitesmoke;
}

#section {
  display: flex;
  flex-wrap: wrap;
  /* background-color: rgb(47, 47, 124); */
  justify-content: space-around;
  margin-bottom: 20px;
}

.see-more {
  color: white;
  transition: 0.3s;
}

.see-more:hover {
  color: green;
  background-color: white;
  padding: 0 3px 3px;
  border-radius: 4px;
}

.spinner {
  margin: 5rem auto;
  text-align: center;
  display: none;
  svg {
    height: 5rem;
    width: 5rem;
    fill: whitesmoke;
    animation: rotate 2s infinite linear;
  }
}

#suggestionsContainer {
  position: absolute;
  top: 100%;
  left: 0;
  /* padding: 20px; */
  z-index: 1;
  background-color: #fff;
  border: 1px solid #ccc;
}

.suggestion {
  padding: 5px;
  cursor: pointer;
}

.suggestion:hover {
  background-color: #f0f0f0;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.error {
  text-align: center;
  width: 100%;
  margin-top: 80px;
  color: rgb(224, 101, 101);
  font-size: 25px;
}

.error {
  max-width: 40rem;
  margin: 0 auto;
  padding: 5rem 4rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.error svg {
  height: 3rem;
  width: 3rem;
  fill: rgb(219, 63, 63);
  transform: translateY(-0.3rem);
  margin-right: 15px;
}

.card {
  flex-wrap: wrap;
  padding: 15px;
  background-color: rgb(13, 13, 53);
  text-align: center;
  border-radius: 7px;
  margin: 7px;
  transition: 0.5s;
}

.card:hover {
  transform: translateY(7px);
  filter: hue-rotate(16deg);
}

.card img {
  width: 250px;
  border-radius: 10px;
}

.card h3 {
  margin-top: 5px;
  color: whitesmoke;
}

.pagination {
  display: flex;
  justify-content: center;
  position: relative;
  /* display: none; */
  margin: -7%;
  visibility: hidden;
  z-index: -100;
}

.see_pagination {
  margin: 20px 20px 30px;
  visibility: visible;
  z-index: 100;
}

.pagination-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(55, 63, 180, 0.3);
  padding: 15px;
  width: fit-content;
  border-radius: 1em;
  /* display: none; */
}

.btn--inline {
  color: #f38e82;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  background-color: #f9f5f3;
  padding: 0.5rem 0.8rem;
  border-radius: 1rem;
  cursor: pointer;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
  margin: 0 35px;
}

.btn--inline:hover {
  color: #f2efee;
  background-color: #f48982;
}

.btn--inline svg {
  height: 1.6rem;
  width: 1.6rem;
  fill: currentColor;
  margin: -7px 0;
}

.pagination-next {
  display: none;
}

.pagination-prev {
  display: none;
}

.reviews-page {
  background-color: rgb(27, 27, 94);
  margin: -10px 20px 50px;
  border-radius: 7px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reviews-page .card {
  background-color: transparent;
}

.reviews-page span {
  color: green;
}

.reviews {
  text-align: center;
}

.reviews-page img {
  width: 550px;
  height: 480px;
}

.reviews-page h3 {
  font-size: 25px;
}

.reviews h1 {
  font-size: 25px;
  margin: 25px 0 7px;
}

.reviews-page p {
  font-size: 16px;
}

.reviews-page h4 {
  font-size: 20px;
  margin-top: 15px;
}

.reviews-page h4 a {
  color: gray;
  transition: 0.3s;
}

.reviews-page h4 a:hover {
  color: rgb(54, 211, 54);
  background-color: whitesmoke;
  padding: 5px;
  border-radius: 6px;
}

.reviews {
  margin: 0 0 55px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

@media (max-width: 1050px) {
  .reviews-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    overflow: scroll;
  }

  .reviews-page img {
    width: 480px;
    /* height: 300px; */
  }

  .reviews {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .reviews-page p {
    font-size: 14px;
  }

  .reviews-page h4 {
    font-size: 18px;
  }
}

@media (max-width: 590px) {
  .reviews-page {
    display: flex;
    flex-direction: column;
  }

  .reviews-page img {
    width: 400px;
    /* height: 180px; */
  }
}

@media (max-width: 500px) {
  .reviews-page {
    display: flex;
    flex-direction: column;
  }

  .reviews-page img {
    width: 300px;
    /* height: 180px; */
  }
}

@media (max-width: 380px) {
  .reviews-page {
    display: flex;
    flex-direction: column;
  }

  .reviews-page img {
    width: 260px;
    height: 300px;
  }

  .reviews-page p {
    font-size: 12px;
  }

  .reviews-page h4 {
    font-size: 13px;
  }

  .top-nav h1 {
    font-size: 15px;
  }

  .reviews h1 {
    font-size: 22px;
    margin: -15px 0 7px;
  }
}

@media (max-width: 395px) {
  .top-nav h1 {
    font-size: 20px;
  }

  .top-nav form {
    width: 150px;
  }

  .top-nav form input {
    padding: 5px;
    width: 150px;
  }

  .type-of-movie input {
    margin-top: 10px;
  }

  .type-of-movie {
    margin: 0px 0 15px;
    padding: 10px;
  }
}

@media (max-width: 550px) {
  .btn--inline {
    color: #f38e82;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    background-color: #f9f5f3;
    padding: 0.5rem 1rem;
    border-radius: 0.8rem;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
    margin: 0 20px;
  }

  .btn--inline:hover {
    color: #f2efee;
    background-color: #f48982;
  }

  .btn--inline svg {
    height: 1.2rem;
    width: 1.2rem;
    fill: currentColor;
    margin: -5px 0;
  }
}

@media (max-width: 380px) {
  .see_pagination {
    margin: 15px 15px 25px;
    visibility: visible;
    z-index: 100;
  }

  .pagination-inner {
    padding: 15px;
    border-radius: 0.8em;
    /* display: none; */
  }

  .btn--inline {
    font-size: 0.8rem;
    padding: 0.5rem 1rem;
    border-radius: 0.7rem;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
    margin: 0 10px;
  }

  .btn--inline svg {
    height: 1rem;
    width: 1rem;
    fill: currentColor;
    margin: -3px 0;
  }
}
