body {
  background: url(./img/mesh-gradients.svg) no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.trailer-body {
  position: relative;
  padding: 15px;
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.5s;
}

.trailer-body:hover {
  border: 2px solid green;
}

.blur-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(12, 12, 66);
  backdrop-filter: blur(10px); /* Adjust blur intensity as needed */
  z-index: -1;
}

.trailer-body h1 {
  text-align: center;
  margin: 10px 0px 15px;
  color: white;
}

.trailer-body iframe {
  border-radius: 7px;
}

@media (max-width: 630px) {
  .trailer-body iframe {
    width: 500px;
  }
}

@media (max-width: 550px) {
  .trailer-body iframe {
    width: 450px;
  }
}

@media (max-width: 500px) {
  .trailer-body iframe {
    width: 100%;
  }
}
